
@import "../../../App.scss";
.movie-item {
    width: 20rem;
    height: 24rem;
    box-shadow: 0rem .5rem 1rem rgb(110, 74, 5);
    background: linear-gradient(to bottom right, orange, orangered);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all .3s;
    @include respond(tab-land) {
        margin-top: 1rem;
        height: 21rem;
    }
    @include respond(tab-port) {
        width: 15rem;
        height: 19rem;
    }
    &:hover {
        transform: translateY(-2rem) scale(1.1);
        background: linear-gradient(to top left, orange, orangered);
    }
    &__image {
        height: 16rem;
        box-shadow: 0rem .8rem 1.5rem black;
        @include respond(tab-port) {
            height: 10rem;
        }
    }
    &__year {
        font-family: Arial, Helvetica, sans-serif;;
        font-size: 1.4rem;
        text-decoration: underline;
        color: rgb(73, 50, 7);
    }
    &__title {
        font-family: "Josefin Sans";
        font-size: 1.8rem;
        color: rgb(73, 50, 7);
        text-decoration: none;
        @include respond(phone) {
            font-size: 1.4rem;
        }
    }
}